@media (min-width: 37.5em) { /* 600px */

	.bib{
		position: absolute;
		margin-right: auto;
		margin-left:auto;
	}

	.logoss{
		width: 5em;
		float: left;
    	padding-left: 0.5em;
	}

	div>img{
		display: inline;
	}

	nav ul li img{
		display: none;
	}



	.menu{
		display: block;
	}

	.start{
		margin-top: 3.5em;
	}

	.one{
		max-width: 600px;
	}

	.aura{
		max-width: 600px;
	}

	h3, h2{
		font-size: 1em;
	}

	h3{
		padding-top: 6em;
	}


	.footer {
		padding: 1em;
		overflow: hidden;
	}

	.nowthis{
		display: none;
	}

	.hide{
		display: block;
		width: 50%;
		overflow: hidden;
		float: left;
	}
		.hide .column {
			width: 33.33333333%;
			float: left;
		}

	.line{
		border-left: 1px solid #00ffda;
		display: block;
		width: 50%;
		overflow: hidden;
		float: right;
		text-align: left;
		padding-left: 2em;
	}
	.line h4 {
		text-align: left;
	}

	h4 {
		color: #00ffda;
		font-family: 'Oxygen', sans-serif; 
		font-size: 0.7em;
		
	}

	.icons {
		display: block;
		height: auto;
		padding-top: 0.75em;
	}
	.icons li {
		width: 2em;
		height: auto;
		display: inline-block;
	}
	.icons li img {
		width: 100%;
	}

	.notyet{
		display: none;
	}
}




@media (min-width: 48em) { /* 768px */

	body{
		overflow: hidden;
	}
	
	nav{
		float: right;
		display: inline-block;
	}

	nav >ul >li{
		float: left;
	}

	li a {
		color: #00ffda;
		font-size: 0.8em;
		padding-left: 0.7em;
		padding-top: 0.3em;
	}

	div > img{
		width: 2.5em;
		display: inline-block;
	}

	.logoss{
		float: left;
		width: 6em;
		padding-left: 0.5em;
	}
	
	.aura{
		max-width: 680px;
	}

	
	.start{
		margin-top: 13em;
	}

	.extra{
		display: block;
		padding-bottom: 1em;
	}

	.extra p{
			font-family:'Oxygen', sans-serif; 
		    font-size: 0.7em;
		    color:#fff;
			text-align: center;
	}

	.one{
		width: 215px;
		height: 200px;
		background-size: cover;
		
	}

	.research, .fitness{
		float: left;

	}

	.recommend, .empty{
		float: right;

	}

	.review, .lounge{
		display: inline-block;

	}

	.addicon {
    margin-left: 34%;
    width: 4em;
    padding-top: 6em;
    }

	.inplace{
		width: 680px;
		margin: 0 auto;
		padding-top: 1em;
		overflow: hidden;
	}

	.aura{
		background-color: #eee;
		width: 680px;
		height: 163px;
		background-position: left;
		background-size: auto 100%;
		
		
	}

	.elsa{
		background-color: #eee;
		width: 680px;
		height: 163px;
		background-position: right;
		background-size: auto 100%;
		margin-top: 1em;
		text-align: left;
		
	}

	section input[type="search"]{
    width: 150px;
    margin-top: 5em;
	}
 
 .move{
    float: left;
    width: 2em;
    padding-right: 0.5em;
}

.black{
	text-align: left;
	padding-left: 19em;
}

h2{
	font-size: 0.9em;
    color:#fff;
    text-align: left;
    padding-left: 0.7em;
    padding-top: 3.5em;
}

h5{
	padding-left: 0.7em;
	padding-top: 0.5em;
}



.aura > h3{
	color:#00b29c;
	font-size: 0.95em;
    padding-top: 0.5em;
    text-align: left;
    padding-left:16em; 
}

.aura > p{
	text-align: left;
	color: black;
	padding-left: 18em;
}

.aura > button{
	color: #00b29c;
	border: #00b29c solid 0.15em;
	margin-top: 2.5em;
	margin-left: 14em;
}

.elsa > h3{
	color:#00b29c;
	font-size: 0.95em;
    padding-top: 0.5em;
    text-align: left;
    padding-left:0.5em; 
}

.elsa > p{
	text-align: left;
	color: black;
	padding-left: 0.5em;
}

.elsa > button{
	color: #00b29c;
	border: #00b29c solid 0.15em;
	margin-top: 3.5em;
	margin-left: 10em;

}

.line{
	float: none;
}


.line .icons{
	width: 25%;
}

.icons img{
	padding-bottom: 0.7em;
}

.footer{
	padding-left: 4.8em;

}

.hide{
	text-align: left;
}
.notyet{
	display: inline-block;
	float: none;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	font-size: 0.6em;
	text-align: left;
	padding-top: 1em;

}

.notyet li{
	padding-top: 0.2em;
}

.last{
	display: inline;
	float: right;

}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: 1em;
   opacity: 0.8;
   color: #00ffda;
   font-family: 'Oxygen', sans-serif;
   font-size: 0.5em;
   padding: 0.5em 1em;
}

.last p{
	font-family: 'Oxygen', sans-serif;
	font-size: 0.6em;
	color: #00ffda;
	padding-top: 7em;
}

@media (min-width: 75em) { /* 1200px */
	body{
		background-color: #eee;
		
	}

	.contained{
		max-width: 75em;
		background-color: #fff;
		text-align: center;
		margin: 0 auto;
	}
